<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        <%= title %>
      </h1>
      <p>Authentication, Validation, and Error Handling</p>
    </div>
  </div>
  <div class="container">
    <% if (loggedIn) { %>
      <p>Login Successful</p>
      <form action="/ta06/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
        <div class="link-container">
          <a href="/ta06/register">Create an Account</a>
          <a href="/ta06/login">Login</a>
        </div>
        <p>Please login</p>
      <% } %>
  
  </div>
</body>

</html>